.hero {
    margin: calc(2 * var(--line-height)) 0;
    padding: var(--line-height) 2ch;
    background: var(--background-color-alt);
    img {
        width: auto;
        margin: 0 auto;
    }
}

.section-title {
    position: relative;
    width: max-content;
}